.div1{
  margin: 0% 40%;
}
.input1{
  border-radius: 4px;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
}
.btn{
  width: 70px;
  height: 25px;
  margin-left: 90px;
  border-radius: 3px;
  border: solid black;
}
.div1 label{
  font-size: 20px;
}